.item{
    width: 100%;
    float:left;
    margin-bottom: 10px;
    
    
    img{
        width: 70px;
        float: left;
        margin-right: 20px;

    }
    h2{
        font-size: 20px;
        margin-bottom: 10px;
    }
    b{
        color: red;
        font-weight: 600;
    }

    .deleteIcon{
        
        color: red;
        float: right;
        position: relative;
        top: -30px;
        font-size: 25px;
        cursor: pointer;
        transition: 200ms ease;

        &:hover{
            color: rgb(160, 2, 2);
            font-size: 30px;
        }
        
    }
}
