*{
    margin: 0;
    padding: 0;
}

body{
    background: #3E97D1;
    color: rgb(53, 52, 52);
    font-family: "Cantarell", sans-serif;
    font-weight: 500;
}

.wrapper{
    width: 1200px;
    margin: 50px auto;
}
